 <form action='/named-cat' method="post">
 name <input type='text' name='name' style="margin: 10px; border: 1px solid grey; min-height:30px" >
  age <input type='text' name='age' style="margin: 10px; border: 1px solid grey; min-height:30px" >
 color <input type='text' name='color' style="margin: 10px; border: 1px solid grey; min-height:30px" >
  <input type='submit' name='Submit' style="margin: 5px; border: 1px solid grey; min-height:30px ; border-radius: 24px" >
 </form>



