<h1 style = 'color: <%= @name_color %> '> My name is <%= @cat_name %> and is <%= @age %> years old.</h1>
<div style = "border: 3px dashed <%= @color %> ; max-width: 400px" >
  <img style = 'width: 400px'src='http://bit.ly/1eze8aE'>
 </div>
 <form action='/named-cat'>

 name <input type='text' name='name' style="margin: 10px; border: 1px solid grey; min-height:30px" >
 age <input type='text' name='age' style="margin: 10px; border: 1px solid grey; min-height:30px" >
 color <input type='text' name='color' style="margin: 10px; border: 1px solid grey; min-height:30px" >
  <input type='submit' name='Submit' style="margin: 5px; border: 1px solid grey; min-height:15px ; border-radius: 24px" >
 </form>